.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.303);
  padding: 40px;
  border-radius: 25px;
}
.copy {
  margin-top: 50px;
  width: 450px;
  padding: 40px;
  border-radius: 15px;

  &-box {
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    h2 {
      margin: 0 10px 0 0;
    }
    &:hover {
      box-shadow: 0px 0px 25px 3px rgba(255, 165, 0, 1);
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .input {
      border: none;
      cursor: pointer;
      outline: none;
      width: 270px;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
