<div class="copy">
  <div class="section">
    <div class="copy-box uah1">
      <h2>UAH</h2>
      <input
        type="text"
        class="input hrn1"
        value="UA793510050000026000879143700"
        readonly
      />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
    <div class="copy-box uah2">
      <h2>ЄДРПОУ</h2>
      <input type="text" class="input hrn2" value="44662203" readonly />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
    <div class="copy-box uah3">
      <h2>NAME</h2>
      <input
        type="text"
        class="input hrn3"
        value="БЛАГОДІЙНА ОРГАНІЗАЦІЯ БЛАГОДІЙНИЙ ФОНД ОРАНЖ ФЕМЕЛІ"
        readonly
      />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
  </div>
</div>
