<div class="copy">
  <div class="section">
    <div class="copy-box usdONE">
      <h2>USD</h2>
      <input
        type="text"
        class="input dolONE"
        value="UA353510050000026009879143701"
        readonly
      />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
    <div class="copy-box usdTWO">
      <h2>ЄДРПОУ</h2>
      <input type="text" class="input dolTWO" value="44662203" readonly />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
    <div class="copy-box usdTHREE">
      <h2>NAME</h2>
      <input
        type="text"
        class="input dolTHREE"
        value="БЛАГОДІЙНА ОРГАНІЗАЦІЯ БЛАГОДІЙНИЙ ФОНД ОРАНЖ ФЕМЕЛІ"
        readonly
      />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
  </div>
</div>
