<div class="copy">
  <div class="copy-box uah">
    <h2>UAH</h2>
    <input
      type="text"
      class="input hrn"
      value="UA793510050000026000879143700"
      readonly
    />
    <img src="./images/copy.svg" alt="copy" width="20px" />
  </div>
  <div class="copy-box usd">
    <h2>USD</h2>
    <input
      type="text"
      class="input dol"
      value="UA353510050000026009879143701"
      readonly
    />
    <img src="./images/copy.svg" alt="copy" width="20px" />
  </div>
  <div class="copy-box eur">
    <h2>EUR</h2>
    <input
      type="text"
      class="input eru"
      value="UA533510050000026008879143702"
      readonly
    />
    <img src="./images/copy.svg" alt="copy" width="20px" />
  </div>
</div>
