<div class="copy">
  <div class="section">
    <div class="copy-box eurONE">
      <h2>EUR</h2>
      <input
        type="text"
        class="input eruONE"
        value="UA533510050000026008879143702"
        readonly
      />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
    <div class="copy-box eurTWO">
      <h2>ЄДРПОУ</h2>
      <input type="text" class="input eruTWO" value="44662203" readonly />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
    <div class="copy-box eurTHREE">
      <h2>NAME</h2>
      <input
        type="text"
        class="input eruTHREE"
        value="БЛАГОДІЙНА ОРГАНІЗАЦІЯ БЛАГОДІЙНИЙ ФОНД ОРАНЖ ФЕМЕЛІ"
        readonly
      />
      <img src="./images/copy.svg" alt="copy" width="20px" />
    </div>
  </div>
</div>
